/* Reset CSS starts here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.3;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    display: inline-block;
    outline: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

textarea {
    resize: vertical;
}

/* Reset css ends here */

/* General styles start here */

body {
    background-color: #242a31;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Background color and color styles start here */

.whiteBg {
    background-color: #ffffff;
}

.yellowBg {
    background-color: #fbcc4b;
}

.lightYellowBg{
    background-color: rgba(255,204,49,0.8);
}

.greyBg {
    background-color: #b8b5b4;
}

.darkBg {
    background-color: #242a31;
}

.blueBg {
    background-color: #386678;
}

.colorYellow {
    color: #fbcc4b;
}

.colorWhite {
    color: #ffffff;
}

.colorDark {
    color: #242a31;
}

/* Background color and color styles end here */

/* Typography & text styles start here */

h1 {
    font-size: 50px;
}

.fontsizeXl {
    font-size: 55px;
}

.fontSizeL {
    font-size: 44px;
}

.fontSizeMd {
    font-size: 30px;
}

.fontSizeSm {
    font-size: 24px;
}

.light {
    font-weight: 300;
}

.semiBold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extraBold {
    font-weight: 800;
}

.alignRight {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

/* Typography & text styles end here */

/* Display styles start here */

.flex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.flexColumn {
    flex-direction: column;
}

.alignItemCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.flexEnd {
    justify-content: flex-end;
}

.flexWrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

/* Display styles end here */

/* Position styles start here */

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

/* Position styles end here */

.lineSm {
    width: 5px;
}

.lineMd {
    padding: 70px 65px;
}

.lineHL {
    width: 400px;
    height: 40px;
}

.mainLineH {
    height: 46px;
    width: 146px;
}

.mainLineV {
    width: 42px;
    height: 142px;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignJustify {
    text-align: justify;
}

/* General styles end here */

/* Header styles start here */

.headerLeft {
    margin-left: 190px;
    padding-top: 186px;
    padding-bottom: 172px;
    width: 300px;
    padding-left: 90px;
}

.headerRight {
    padding-top: 186px;
    padding-bottom: 172px;
}

.headerRight div:first-child {
    padding-top: 20px;
    margin-right: 60px;
}

/* Header styles end here */

/* Corporate section styles start here */

.corporate .lineHL {
    right: 0;
    top: 0;
}

.corporateLeft {
    margin-left: 190px;
    width: 300px;
    padding-left: 90px;
}

.corporateRight, .corporateLeft {
    padding-bottom: 220px;
}

.corporateLeft p {
    max-width: 280px;
    padding-top: 45px;
}

.corporateRight {
    padding-top: 180px;
    margin-right: 212px;
    width: 40%;
}

.corporateRight .desc {
    padding-top: 105px;
}

.corporate .desc p {
    max-width: 580px;
}

/* Corporate section styles end here */

/* About section styles start here */

.about {
    background-image: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1115px;
}

.aboutLeft .content {
    width: 300px;
    max-height: 600px;
    padding-top: 230px;
    padding-left: 90px;
    margin-left: 190px;
}

.aboutLeft p {
    padding-top: 105px;
    padding-bottom: 150px;
}

.aboutRight {
    background-color: rgba(85, 159, 188, 0.8);
    padding: 170px 212px 0 170px;
}

.aboutRight .mainLineV {
    margin: 75px 0;
}

.aboutRight .desc {
    padding: 60px 0;
}

.aboutLeft .contact {
    padding-top: 230px;
    padding-left: 144px;
}

.aboutLeft .contact div {
    padding-bottom: 88px;
}

.aboutLeft .contact div span:first-child {
    padding-right: 67px;
    font-size: 28px;
}

.logo {
    padding-top: 80px;
    padding-bottom: 98px;
    left: 490px;
    position: absolute;

}

.logo ul {
    padding-left: 130px;
    padding-right: 110px;
}

.logo ul li {
    padding-right: 80px;
}

.logo ul li img {
    width: 100%;
}

.logo ul li a:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* About section styles end here */

/* Responsive styles start here */

@media only screen and (max-width: 1360px)  {

    .headerLeft, .corporateLeft, .aboutLeft .content {
        padding-left: 50px;
        text-align: left;
        margin-left: 120px;
    }

    .logo {
        left: 420px;
    }

    .logo ul {
        padding-left: 80px;
        padding-right: 70px;
    }

    .logo ul li {
        padding-right: 50px;
    }

}

@media only screen and (max-width: 1100px) {

    header, .corporate .container, .about {
        flex-direction: column;
    }

    .headerRight, .headerLeft {
        padding-top: 36px;
        padding-bottom: 42px;
        width: 100%;
        margin-left: 0;
    }

    .headerRight {
        justify-content: flex-start;
        padding-left: 50px;
    }

    .corporateLeft, .corporateRight, .aboutLeft .content {
        padding-top: 36px;
        padding-bottom: 42px;
        justify-content: flex-start;
        text-align: left;
        padding-left: 50px;
        margin-left: 0;
        width: 100%;
    }

    .corporateRight .desc {
        justify-content: flex-start;
        padding-top: 25px;
    }

    .corporateLeft p {
        max-width: none;
    }

    .aboutLeft p {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .aboutLeft .contact {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .aboutLeft .contact div {
        padding-bottom: 20px;
    }

    .aboutLeft .contact div span:first-child {
        font-size: 16px;
        padding-right: 40px;
    }

    .aboutRight {
        padding-top: 30px;
        justify-content: flex-start;
        padding-left: 50px;
    }

    .aboutRight h1 {
        font-size: 28px;
    }

    .aboutRight .mainLineV {
        margin: 31px 0;
    }

    .aboutRight .desc {
        padding: 30px 0;
    }

    .logo {
        left: 0;
        width: 100%;
        padding-top: 38px;
        padding-bottom: 28px;
    }
}

/* Responsive styles end here */