/* Reset CSS starts here */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.3;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    display: inline-block;
    outline: none;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

button {
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

textarea {
    resize: vertical;
}

/* Reset css ends here */

/* General styles start here */

body {
    background-color: #242a31;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* Background color and color styles start here */

.whiteBg {
    background-color: #ffffff;
}

.yellowBg {
    background-color: #fbcc4b;
}

.lightYellowBg{
    background-color: rgba(255,204,49,0.8);
}

.greyBg {
    background-color: #b8b5b4;
}

.darkBg {
    background-color: #242a31;
}

.colorYellow {
    color: #fbcc4b;
}

.colorWhite {
    color: #ffffff;
}

/* Background color and color styles end here */

/* Typography & text styles start here */

.fontsizeXl {
    font-size: 55px;
}

.fontSizeL {
    font-size: 44px;
}

.fontSizeMd {
    font-size: 30px;
}

.fontSizeSm {
    font-size: 24px;
}


.light {
    font-weight: 300;
}

.extraBold {
    font-weight: 800;
}

.alignRight {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

/* Typography & text styles end here */

/* Display styles start here */

.flex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
}

.flexColumn {
    flex-direction: column;
}

.alignItemCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.flexEnd {
    justify-content: flex-end;
}

.flexWrap {
    flex-wrap: wrap;
}

.block {
    display: block;
}

.inlineBlock {
    display: inline-block;
}

/* Display styles end here */

.lineSm {
    width: 5px;
}

.lineMd {
    padding: 70px 65px;
}

.lineL {
    max-height: 32px;
    max-width: 642px;
}

.mainLineH {
    height: 46px;
    width: 146px;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.alignJustify {
    text-align: justify;
}

/* General styles end here */

/* Header styles start here */

.headerLeft {
    margin-left: 190px;
    padding: 186px 100px 172px 100px;
}

.headerRight {
    padding-top: 186px;
    padding-bottom: 172px;
}

.headerRight div:first-child {
    padding-top: 20px;
    margin-right: 60px;
}

/* Header styles end here */

/* Corporate section styles start here */

.corporate {
    margin-right: 212px;

}

.corporateLeft {
    margin-left: 190px;
    padding-left: 100px;
    padding-right: 100px;
}

.corporateRight, .corporateLeft {
    padding-bottom: 220px;
}

.corporateLeft p {
    max-width: 280px;
    padding-top: 45px;
}

.corporateRight {
    padding-top: 180px;

}

.corporateRight .desc {
    padding-top: 105px;
}

.corporate .desc p {
    max-width: 580px;
}

/* Corporate section styles end here */

/* About section styles start here */

.about {
    background-image: url(../img/cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1654px;
}

/* About section styles end here */